main {
  // height: calc(100vh - 0.2667rem);
  .main {
    .main-header {
      background-image: url('http://hlgw.tianzongnet.com/static/home/images/pageimg/center.png');
      background-repeat: round;
      height: 0.5333rem;
      background-size: contain;
    }
    .main-news {
      .news-title {
        display: flex;
        justify-content: center;
        img {
          width: 0.8rem;
        }
      }
      .news-content {
        .swiper {
          width: 0.8rem;
          height: 0.48rem;
          .swiper-wrapper {
            width: 0.8rem;
            height: 0.48rem;
            .swiper-slide {
              width: 0.8rem;
              height: 0.48rem;
              background-image: url(../image/新闻资讯面板.png);
              background-repeat: round;
              background-size: contain;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                position: absolute;
                width: 0.672rem;
                height: 0.4rem;
              }
            }
          }
          .swiper-pagination {
            position: absolute;
            bottom: 0;
          }
        }
        .news-tabbar {
          height: 0.1333rem;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .tabs {
            width: 0.1333rem;
            height: 0.0533rem;
            color: rgb(242, 97, 0);
            border: 0.0027rem solid rgb(131, 77, 53);
            border-radius: 0.0267rem;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              font-size: 0.032rem;
            }
          }
        }
        .news-tabbar-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0.0533rem 0;
          // border-bottom: 1px dashed rgb(232, 152, 110);
          .news-tabbar-text-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.0267rem 0;
            border-bottom: 0.0027rem dashed #e8986e;
            width: 0.9rem;
            p {
              color: rgb(232, 152, 110);
              font-size: 0.032rem;
            }
          }
        }
      }
    }
    .main-games {
      .games-title {
        display: flex;
        justify-content: center;
        img {
          width: 0.8rem;
        }
      }
      .games-content {
        display: flex;
        justify-content: space-evenly;
        .games-content-imgage {
          img {
            width: 0.24rem;
          }
        }
      }
      .games-content-Character {
        display: flex;
        justify-content: space-around;
        margin: 0.0267rem 0;
        .Character-box {
          position: relative;
          img {
            height: 0.0533rem;
            width: 0.1333rem;
          }
          p {
            font-size: 0.032rem;
            color: #e8986e;
            position: absolute;
            top: 0.0107rem;
            left: 0.035rem;
          }
        }
      }
      .Character-contentBox {
        background-image: url(../image/图鉴面板@2x.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 0.65rem;
        display: flex;
        justify-content: center;
        .Character-contentBox-left {
          padding: 10px;
          .contentBox-left-top {
            .contentBox-left-image {
              display: flex;
              justify-content: center;
              position: relative;
              align-items: center;
              padding: 0.0533rem 0;
              border-bottom: 0.0027rem solid rgb(176, 76, 19);
              img {
                width: 0.4rem;
              }
              P {
                font-size: 0.032rem;
                position: absolute;
                color: rgb(166, 56, 23);
              }
              pre {
                font-size: 0.032rem;
              }
            }
          }
          .contentBox-left-middle {
            width: 0.5333rem;
            display: flex;
            flex-direction: column;
            .contentBox-left-middle-imageBox {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0.0267rem 0;
              img {
                height: 0.0533rem;
              }
              p {
                font-size: 0.032rem;
                padding: 0 0.0267rem;
                color: rgb(176, 76, 19);
              }
            }
            .middle-imageBox-skill {
              display: flex;
              // width: 0.8rem;
              position: relative;
              img {
                width: 0.08rem;
                border-radius: 50%;
                padding: 0 0.0267rem;
              }
              .skills-content {
                display: none;
                position: absolute;
                font-size: 0.032rem;
                background-image: url(../image/下载信息底板.png);
                background-repeat: round;
                padding: 0.0533rem;
              }
              img:hover + .skills-content {
                display: block;
              }
            }
            pre {
              font-size: 0.032rem;
              overflow: hidden;
              // -webkit-box-orient: vertical;
              // -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              // white-space: nowrap;
              color: rgb(216, 160, 128);
            }
          }
        }
        .Character-contentBox-right {
          overflow: hidden;
          position: relative;
          // display: contents;
          .svagBox {
            // position: absolute;
            width: 1.3333rem;
            overflow: hidden;
            position: relative;
            top: -398px;
            left: -188px;
            .canvas{
              width: 0.2667rem;
            }
          }
        }
      }
    }
  }
}
.swiper-pagination-bullet {
  background-color: #e97a35;
}
.swiper-pagination-bullet-active {
  background-color: #e97a35;
  width: 0.08rem;
  border-radius: 0.0267rem;
}
.active {
  background-color: rgb(242, 97, 0);
  color: white !important;
  border: 0.0027rem solid rgb(242, 97, 0) !important;
}

.CharacterActive {
  color: white !important;
}
